## .NET ##
bin/
obj/
*.user
*.suo
.vs/

## Build results ##
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Visual Studio ##
*.userosscache
*.sln.docstates
*.dbmdl

## Logs ##
*.log
Logs/

## OS files ##
.DS_Store
Thumbs.db

## sonarqube ##
.sonarqube/